
<div>
<div class="ui large coupled first modal">
	<div class="header">How To Use Capsule</div>
	<div class="image content">
		<div class="ui large image"><img src="/mainApp.png"></div>
			<div class="description">
				<div class="ui header">Making a prediction</div>
				<p>Predictions are the foundation of Capsule. </p>
				<p>Simply type your prediction for the future as well as any hash tags that you believe will trend with your prediction.</p>
				<p>Remember to add hashtags before you predict!</p>
				<p>Capsules have three stages: open, buried, and uncovered. <strong> Since you're currently in demo mode, each of these stages is exactly one minute long, with a capsule "cycle" at each minute.</strong></p>
				<p>Predictions that have not yet been buried (open) can be viewed, upvoted, downvoted, and re-predicted.</p>
				<p>After the capsule has been buried for one cycle and subsequently uncovered, the top trending of your predicted hashtags will be shown and you can explore popular predictions from users everywhere.</p>
			</div>
	</div>
	<div class="actions">
		1/3<div class="ui green button">Next</div>
	</div>
</div>

<div class="ui large coupled second modal">
	<div class="header">How to use Capsule</div>
	<div class="image content">
		<div class="ui large image"><img src="/uncovered.png"></div>
			<div class="description">
				<div class="ui header">Explore</div>
				<p>While your prediction is buried, Capsule searches the web and social media for content relating to your prediction.</p>
				<p>When your prediction is uncovered, we <strong>automatically</strong> pair it with articles and Twitter hashtags from its time buried, letting you see how close you really were!</p>
				<p>Hovering over any of the related links will show a picture preview of the related article.</p>
			</div>
	</div>
	<div class="actions">
		2/3<div class="ui green button">Next</div>
	</div>
</div>

<div class="ui large coupled third modal">
	<div class="header">How to use Capsule</div>
	<div class="image content">
		<div class="ui large image"><img src="/profile.png"></div>
			<div class="description">
				<div class="ui header">Your Profile</div>
				<p>By checking the dashboard icon you can check your profile.</p>
				<p>From here you can change your password, check your registered email and browse all of your predictions.</p>
				<div class="ui header">That's It!</div>
				<p>Thanks for reading! If you ever need a quick reminder about Capsule and its features, just click the question mark at the top of the page.</p>
			</div>
	</div>
	<div class="actions">
		3/3<div class="ui cancel red button">Get Started</div>
	</div>
</div>

<script src="/modal.js"></script>
