<html>
<% include ../partials/head.ejs %>
<body class="ui blue-bg" style="text-align: center; padding-top: 50px;">
  <h1 class="white-text">404: Page Not Found</h1>
  <img src="/Alarm404.png" />
  <h1 class="ui massive inverted header" style="width: 50%; margin-left: 25%;">Uh Oh! It doesn't look like this page exists. You might be looking for the Capsule App, <a href="/app">here</a>.</h1>
</body>
</html>
