html, body {
  //margin: 0;
  //padding: 0;
  //width: 100%;
  //overflow-x: hidden;
  //min-height: 100%;
}

/* UTILITY CLASSES */
.errmessage {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0) !important;
}

.no-border {
  border: none !important;
}

.black-bg {
  background-color: #000;
}

.blue-bg {
  background-color: #262730 !important;
}

.green-bg {
  background-color: #77BA99
}

.beige-bg {
  background-color: #EFF0D1;
}

.black-text {
  color: #000;
}

.white-text {
  color: #FFF;
}

.beige-text {
  color: #EFF0D1;
}

.red-text {
  color: #ff695e !important;
}

.grey-text {
  color: rgba(255, 255, 255, .7);
}

.grey-text:hover {
  color: rgba(255, 255, 255, .85);
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.redhover:hover {
  color: #ff695e !important;
}

input.redfocus {
  border-left: 5px #ff695e solid !important;
}

input.redfocus:focus {
  border: 2px #ff695e solid !important;
}

.red-underline {
  border-bottom: 2px solid #ff695e;
}

.green-border {
  border-left: #77BA99 3px solid;
  border-bottom: #77BA99 1px solid;
}

.blue-border {
  margin-top: 20px !important;
  border-left: #262730 3px solid;
  border-bottom: #262730 1px solid;
}

/* END UTILITY FUNCTIONS */

#navspan {
  line-height: 20px;
}

#navlogo {
  height: 20px;
  float: left;
}

#banner {
  padding-top: 80px;
  min-height: 90vh;
  background-color: #262730;
}

#predict {
  margin-left: 20%;
  width: 60%;
}

#feed {
  margin-top:10px;
  width: 50%;
  margin-left: 25%;
  margin-right:25%;
}

.panel {
  width: 100%;
}

.beige {
  background-color: #EFF0D1;
}

#logo-div{
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  font-size: 8vw;
  height: 8vw;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

#logo {
  height: 7vw;
}

.help.icon:hover {
  cursor: pointer;
}

.proftabs:hover {
  cursor: pointer;
}

#actions {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

#actions button {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.item {
  font-size: 20px !important;
}

#maindiv {
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  display: block;
}

h2 {
  width: 100%;
  font-size: 30px;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.panel {
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
  width: 100vw !important;
}

.panel i {
  font-size: 40px;
  margin-bottom: 20px;
}

div.minipanel {
  text-align: center;
}

div.minipanel i {
  font-size: 10vw;
}

div.minipanel h3 {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

div.minipanel p {
  font-size: 20px;
}

.minidiv {
  width: 46vw;
  margin-left: 25vw;
  margin-right: 25vw;
  padding: 2vw;
  margin-top: 100px;
  border-radius: 10px;
}

.main {
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10vh;
  padding-left: 5px;
  min-height: 30px;
  margin-bottom: 5px;
}

.predsegment {
  margin-left: 15% !important;
  margin-right: 15% !important;
  margin-top: 10px !important;
}

#interactor {
  float: left;
}

#interactor i {
  margin: 0;
  font-size: 18px;
}

#interactor i:hover, #interactor i.active {
  color: red;
}

#prediction {
  margin-left: 30px;
}

#score {
  text-align: center;
  margin: 0 !important;
  font-size: 20px;
}

#predtext:focus, #hashtags:focus {
  border: none !important;
}

#signouticon { display: none }

prediction p{
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

feed .right-content {
  border-left: 2px outset #000;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  overflow: hidden;;
  padding-right: 15px;
  padding-left: 20px;
}

feed .right-content ul {
  list-style: none;
  line-height: 25px;
  padding-right: 10px;
}

feed .sliding-image {
  float:right;
  width: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  -webkit-transition: width 0.8s;
  -moz-transition: width 0.8s;
  transition: width 0.8s;
  height: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  background-size: cover;
  border-radius: 5px;
}

feed .tag {
  position: absolute;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);;
  padding: 5px;
  text-align: center;
}

feed .right-content li {
  text-overflow: clip;
  text-overflow: ellipsis;
  text-overflow: "…";
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
}

feed .content {
  width: 40%;
  overflow: hidden;
}

#demo-info {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  border-radius: 10px;
  border: 3px solid #F00;
  padding-left: 10%;
  padding-right: 10%;
}

#demo-info h1 {
  width: 100%;
  text-align: center;
}

#demo-info p {
  font-size: 20px;
}

#demo-info img {
  margin: 20px;
}

/* Clock */

#clock {
	position: relative;
	width: 200px;
  height: 200px;
	background: #77BA99;
	margin: 50px auto 0;
	border: 10px solid #fff;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#clock:after {
	content: '';
	position: absolute;
	bottom: -7px;
	width: 120px;
	left: 0;
	height: 0px;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: -1;

  box-sizing: border-box;
}

#banner *, #banner *:after, #banner *:before {
  box-sizing: content-box !important;
}

#clock:before {
	content: '';
	position: absolute;
	z-index: 2;
	width: 12px;
	height: 12px;
	background: #333;
	left: 50%;
	top: 50%;
	margin: -6px 0 0 -6px;

	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* Hands */
#clock span.hand {
	background: #555;
	position: absolute;
	left: 50%;
	-webkit-animation: rotate 2s infinite linear;
	-webkit-transform-origin: left bottom;
	-moz-animation: rotate 2s infinite linear;
	-moz-transform-origin: left bottom;
	-ms-animation: rotate 2s infinite linear;
	-ms-transform-origin: left bottom;
	-o-animation: rotate 2s infinite linear;
	-o-transform-origin: left bottom;
	animation: rotate 2s infinite linear;
	transform-origin: center bottom;
}

#clock span.hand.second {
	height: 90px;
	width: 2px;
	margin-left: 0px;
	top: 10px;
  background-color: #D33F49;
}

#clock span.hand.minute {
	height: 80px;
	width: 4px;
	margin-left: -2px;
	top: 20px;
	-webkit-animation-duration: 20s;
	-moz-animation-duration: 20s;
	-ms-animation-duration: 20s;
	-o-animation-duration: 20s;
	animation-duration: 20s;
}

#clock span.hand.hour {
	height: 70px;
	width: 6px;
	margin-left: -3px;
	top: 30px;
	-webkit-animation-duration: 280s;
	-moz-animation-duration: 280s;
	-ms-animation-duration: 280s;
	-o-animation-duration: 280s;
	animation-duration: 280s;
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg);}
	100% { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	0% { -moz-transform: rotate(0deg);}
	100% { -moz-transform: rotate(360deg);}
}

@-ms-keyframes rotate {
	0% { -ms-transform: rotate(0deg);}
	100% { -ms-transform: rotate(360deg);}
}

@-o-keyframes rotate {
	0% { -o-transform: rotate(0deg);}
	100% { -o-transform: rotate(360deg);}
}

@keyframes rotate {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(360deg);}
}
