#logo-div {
  width: 100%;
  margin: 0;
  font-size: 20vw;
}

#logo-div img {
  display: none;
}

#navlogo {
  display: none;
}

.minidiv {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding-top: 100px;
  border-radius: 0px;
}

.main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#predict {
  width: 90%;
  margin-left: 5%;
}

#predTabColumn {
  width: 80% !important;
}

#feed {
  margin-top:10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

feed .content {
  width: 100%;
}

feed .right-content {
  position: relative;
  height: auto;
  width: 100%;
}

feed .sliding-image {
  height: auto;
}

.tworightlabel {
  position: absolute !important;
  right: 0;
}

#hashtags, #predtext {
  font-size: 16px;
}

#signouttext { display: none; }
#signouticon { display: initial; }
